@font-face {
    font-family: 'Figtree';
    src: url(assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Figtree', Courier, monospace;
}


body {
    background-color: #F4D04E;
    
}

.blog-card-container {
    /* Position is not relative to the viewport */
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20.43rem;
    height: 31.31rem;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 1rem;
    /* Why setting values as rem does not work in box-shadow */
    box-shadow: 9px 7px 0px 0px black; 
}

.blog-img {
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 35px;
}

.content-area {
    width: 17.43rem;
    height: 10.81rem;
    /* border: 1px solid black; */
    margin-left: 1.5rem;
    margin-left: 1.5rem;
}

.category {
    background-color: #F4D04E;
    width: 4.5rem;
    height: 1.62rem;
    text-align: center;
    border-radius: 5px;
    font-weight: 800;
    font-size: 0.75rem;
    padding-top: 0.28rem;
}

.published-date {
    margin-top: 0.75rem;
    font-size: 0.75rem;
    font-weight: 500;
}

.blog-heading {
    margin-top: 0.75rem;
    font-size: 1.25rem;
    font-weight: 800;
    word-spacing: 2px;
}

.blog-heading:hover {
    color: #F4D04E;
    cursor: pointer;
}

.blog-desc {
    color: #7F7F7F;
    margin-top: 0.75rem;
    font-size: 0.86rem;
    word-spacing: 0.1rem;
    line-height: 1.3rem;
    font-weight: 500;
}

.author-info-container {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    width: 8.75rem;
    height: 2rem;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.author-img {
    max-width: 22%;
}

.author-name {
    margin-left: 0.75rem;
    font-size: 0.93rem;
    display: inline;
    color: #111111;
    font-weight: 800;
}